/* Add screen styles below */

body {
    padding: 25px;
    background: rgb(131, 191, 223);
    color: white;
}

#headerpic {
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: contain;
}

.pics {
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    padding: 10px;
}

h2 {
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
}

h3 {
    padding: 5px;
    text-align: center;
}