/* Add screen styles below */

body {
    padding: 25px;
    background: rgb(131, 191, 223);
    color: white;
}

.headerpic {
    width: auto;
    height: auto;
}

.img {
    float: left;
    width:  100px;
    height: 100px;
    background-size: cover;
}

h1 {
    padding: 10px;
}

h2 {
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
}

h3 {
    padding: 5px;
    text-align: center;
}